@use "sass:map";
@use "@/scss/abstracts/variables";
@use "@/scss/abstracts/functions";

$bg-gradient: map-get(variables.$gradients, "34");
$bg-dark: functions.map-deep-get(
  variables.$colors,
  "alias",
  "grayscale",
  "header-weak"
);

$light-text: functions.map-deep-get(
  variables.$colors,
  "alias",
  "grayscale",
  "input"
);

body {
  background: $bg-gradient;
  font-family: "Poppins", sans-serif;
}

input {
  font-family: "Poppins", sans-serif;
}
